:root{
  --white-text: rgba(255,255,255,1);
  --white-text-op06: rgba(255,255,255,0.6);

  --black-logo: rgba(0,0,0,1);
  --black-text: rgba(33,33,33,1);
  
  --decoration-color: rgba(33,150,243,1);

  --grey-text: rgba(117,117,117,1);

  --main-bg-color: rgba(47, 48, 58, 1);
  --icons-color: rgba(175, 177, 184, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p, h1, h2, h3 {
  margin: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-style: 700;
  line-height: 1.88;
  text-decoration: none;
  color: var(--main-title-color);
  background: var(--decoration-color);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}


.title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.text {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* header  */
.header {
  background-color: #fff;
  min-height: 80px;
  border-bottom: 1px solid #ECECEC;
}

.nav-logo {
  color: var(--black-logo);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.text-blue {
  color: var(--decoration-color);
}

.nav,
.nav-list,
.contacts-list {
  display: flex;
  align-items: center;
}

.nav-list{
  margin-left: 43px;
}

.nav-link {
  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  display: inline-block;
  margin-left: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link.active {
  color: var(--decoration-color);
  position: relative;
} 

.contacts-list{
  margin-left: 281px;
}

.nav-link-grey {
  color: var(--gray-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link-grey:hover,
.nav-link-grey:focus {
  color: var(--decoration-color);
}
 
.nav-icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.nav-icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  margin-left: 30px;
  fill: currentColor;
}

.element-line::after {
  position: absolute;
  bottom: -1px;
  right: 0;
  content: '';
  display: block;
  background: var(--decoration-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

/* hero  */
.hero {
  color: var(--white-text);
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--main-bg-color);
  background-image: linear-gradient( 
    to right, 
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
  ),
    url("../images/Img-main.jpg");
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  margin: 0 auto 30px auto;
  text-transform: uppercase;
}

.hero-btn {
  margin: 0 auto;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-height: 581px;
  min-width: 528px;

  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  margin: 8px auto auto 490px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover{
  fill: var(--decoration-color);
}

.hero-modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-modal {
  margin: 2px 40px 40px 40px;
}

.modal-input {
  margin: 0;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font: inherit;
}


.modal-label {
  position: relative;
  display: block;
  text-align: left;
  margin-top: 10px;
  color: var(--grey-text);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.madal-label-text {
  display: block;
  margin-bottom: 4px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
}

.modal-label:hover > .modal-icon {
  fill: var(--decoration-color); 
}

.modal-label:hover > .modal-input {
  border-color: var(--decoration-color);
  cursor: pointer;
}

.modal-input-coment {
  margin: 0;
  width: 448px;
  height: 120px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font: inherit;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-coment:hover {
  border-color: var(--decoration-color);
  cursor: pointer;
} 

.modal-input-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-container {
  margin-top: 20px;
}

.field {
  display: flex;
  align-items: center;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  transition: transform 250ms linear;
  margin-bottom: 30px;
}

.checkbox:checked + .icon-checkbox {
  transform: scale(1.2);
  border-color: var(--decoration-color);
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
}

.label-text {
  transition: transform 250ms linear;
  color: rgba(117, 117, 117, 1);
  font-style: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.label-text .underline {
  text-decoration: underline;
  color: var(--decoration-color);
}

.send-btn {
  width: 200px;
  height: 50px;
  font-style: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  color: var(--main-title-color);
  background: var(--decoration-color);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* about */
.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-title {
  visibility: hidden;
}

.about-item-title {
  margin-bottom: 10px;
  margin-top: 30px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-list{
  display: flex;
  justify-content: space-between;
}

.about-item-text {
  text-align: left;
  width: 270px;
}

.about-fond-icon {
  background-color: rgba(245, 244, 250, 1);
}

.about-icon {
  width: 70px;
  height: 70px;
  margin: 25px 100px 25px 100px;
}

/* doing */
.doing {
  padding-bottom: 94px;
}

.doing-title{
  color: var(--black-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.doing-overlay-text {
  color: var(--white-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1,14;
  text-transform: uppercase;
}

.doing-img {
  position: relative;
  z-index: 1;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.doing-item {
  position: relative;
}

.doing-list {
  display: flex;
  justify-content: space-between;
}

.doing-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 27px 83px 27px 82px;
  align-items: center;
  z-index: 2;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* team */
.team {
  background-color: rgba(245,244,250,1);
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-container {
  background: var(--white-text)
}

.team-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-main-title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-icons li {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  border-radius: 50%;
}

.social-icons li:not(:last-child) {
  margin-right: 10px;
}

.link-icon, .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.link-icon {
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: var(--icons-color);
  padding: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover {
  background-color: var(--decoration-color);
}

.icon:hover {
  fill: #fff;
}

/* Regular customers */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.customers-main-title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.customers-item {
  width: 170px;
  height: 90px;
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

.customers-link, .customers-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.customers-link {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  text-align: center;
  fill: currentColor;
}

.customer-icon, .logo-1 {
  width: 44.27px;
  height: 49.23px;
}

.customer-icon, .logo-2 {
  width: 40px;
  height: 52px;
}

.customer-icon, .logo-3 {
  width: 41px;
  height: 42.6px;
}

.customer-icon, .logo-4 {
  width: 79.66px;
  height: 42.02px;
}

.customer-icon, .logo-5 {
  width: 59px;
  height: 47px;
}

.customer-icon, .logo-6 {
  width: 88.48px;
  height: 45.44px;
}

.customers-link:hover {
  border: 1px solid var(--decoration-color);
  color: var(--decoration-color);
}

/* footer */
.footer {
  background-color: rgba(47,48,58,1);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list{
  display: flex;
  justify-content: right;
}

.footer-mail,
.footer-tel {
  color: var(--white-text-op06);
}

.footer-address {
  color: var(--white-text);
}
  

.footer-mail {
  margin-top: 9px;
  display: block;
  
}

.footer-tel {
  margin-top: 9px;
  display: block;
}

.address {
  margin-top: 20px;
}

.footer-action{
  margin-left: 70px;
}

.footer-action-title {
  color: var(--white-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-link-icon, .foter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.footer-link-icon {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: #fff;
  padding: 12px;
}

.footer-link-icon:hover {
  background-color: var(--decoration-color);
}

.footer-form-title {
  color: var(--white-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.mail {
  background-color: rgba(33, 150, 243, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 358px;
  min-height: 50px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-btn {
  position: relative;
  width: 200px;
  height: 50px;

  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 10px 29px;
  cursor: pointer;

  font-style: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white-text);
  background: var(--decoration-color);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.footer-icon-end {
  position: absolute;
  right: 28px;
  top: 13px;
  width: 24px;
  height: 24px;
}

/* portfolio */
.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

.portfolio-main-title {
  visibility: hidden;
}

.portfolio-list-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio-item-btn {
  margin-right: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-item-btn:last-child {
  margin-right: 0;
}

.portfolio-btn {
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-decoration: none;
  color: var(--main-title-color);
  background: rgba(245, 244, 250, 1);
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-item-btn:hover,
.portfolio-item-btn:focus,
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-text);
  background-color: var(--decoration-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.portfolio-item {
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid rgba(238, 238, 238, 1);
  background-color: var(--white-text);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-top: 20px;
  margin-left: 24px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
}

.portfolio-item:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portfolio-overlay-text {
  color: var(--white-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  left: 0;
  top: 0;
  padding: 63px 24px 63px 24px;
  align-items: center;
  width: 370px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ; 
  opacity: 0;
  z-index: 1;
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
  opacity: 1;
}